<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">

<head>
    <title layout:fragment="title">Início</title>
</head>

<body>
    <div layout:fragment="content">
        <div id="board" class="container-fluid">
            <a th:href="@{/admin/porquinho}" style="height: 15rem; width: 15rem;" class="btn btn-green botaoGordo" >Porquinho</a>
            <a th:href="@{/orcamento}" style="height: 15rem; width: 15rem;" class="btn btn-green botaoGordo">Orçamento</a>
            <a th:href="@{/admin/extrato}" style="height: 15rem; width: 15rem;" class="btn btn-green botaoGordo">Extrato</a>
        </div>
    </div>

    <script th:inline="javascript">

        let alerta = /*[[${alerta}]]*/ false;

        let tituloAlerta = /*[[${tituloAlerta}]]*/ "deu ruim!!";
        let mensagemAlerta = /*[[${mensagemAlerta}]]*/ "deu ruim";
        let iconeAlerta = /*[[${iconeAlerta}]]*/ "warning";

        if (alerta) {
            Swal.fire({
                title: tituloAlerta,
                text: mensagemAlerta,
                icon: iconeAlerta,
                confirmButtonText: 'Ok'
            })
        }

    </script>
</body>
</html>