<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg green">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <img height="40" src="/images/icons/casa.png" alt="">
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav mx-auto">
                <li class="nav-item me-2"></li>
                <li class="nav-item"></li>
            </ul>

            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuário: <span th:text="${session.usuarioLogado.getNome()}"/>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/logout}">Sair</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Saldo: R$
                        <span th:if="${session.usuarioLogado.getSaldo() != null}">
                        <span th:text="${session.usuarioLogado.getSaldo()}"></span>

                        </span>
                            <span th:unless="${session.usuarioLogado.getSaldo() != null}">
                            <span>0,00</span>
                        </span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalTransacao">Registrar transação</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="modalTransacao" tabindex="-1" aria-labelledby="modalMeta" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-dialog-centered p-3">
                <form th:action="@{/admin/extrato}" method="post">
                    <div class="text-center">
                        <h1>Registrar transação</h1>

                        <span>Tipo de transação:</span><br>
                        <select class="form-select" name="tp_transacao" onchange="exibeOpcoes()" required>
                            <option value="">Selecione</option>
                            <option value="entrada">Entrada</option>
                            <option value="saida">Saída</option>
                        </select><br>

                        <span>Categoria:</span><br>
                        <select class="form-select" name="id_tipo_gasto" id="categoria">
                            <option value="">Selecione</option>
                        </select><br>

                        <span>Forma de pagamento:</span><br>
                        <select class="form-select" name="id_forma_pgmt" id="formaPagamento"required>
                            <option value="">Selecione</option>
                        </select><br>

                        <span>Valor da transação:</span><br>
                        <div class=" d-flex justify-content-center gap-2">
                            <button type="button" class="btn btn-danger btn-operacao">-</button>
                            <input name="vl_transacao" class="form-control valorOperacao text-center" type="number" step="0.01" min="0" placeholder="0,00">
                            <button class="btn btn-green btn-operacao">+</button>
                        </div>

                        <span>Data da transação:</span>
                        <div class=" d-flex justify-content-center">
                            <input name="dt_transacao" class="form-control valorOperacao"  type="date" required>
                        </div>

                        <span>Descrição</span><br>
                        <input name="descricao" class=" form-control mb-3 descricaoTransacao text-center" type="text" placeholder="Ex: Mercado"/><br>

                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-danger m-2 me-5" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-green m-2 ms-5">Gravar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</th:block>