@import "../main.scss";

.meta {
  border-radius: 5px;
  max-width: 30rem;
  max-height: 20rem;
  font-size: 1.8rem;
  margin: 0 2rem;
  transition: 0.15s;
}

.meta:hover {
  transform: scale(1.05);
}

.textoMeta {
  border: solid 1px;
  border-radius: 3px;
  padding: 15px 35px;
  font-size: 1.4rem;
  margin: 0.5rem;
}

.porcentagem {
  width: 20rem;
  border: solid 1px;
  border-radius: 10px;
}

.barra {
  box-shadow: 0 0 0 1px #000 inset;
  border-radius: 10px;
  font-size: 1.4rem;
}

.btn-operacao {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.valorOperacao {
  margin: 1rem;
  height: 3rem;
  text-align: center;
}

.nomeMeta {
  text-align: center;
}

.botaoGordo {
  height: 7rem;
  width: 7rem;
}

.botaoGordo:hover {
  transform: scale(1.05);
}

#board {
  align-items: center;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#botaoVoltar {
    position: absolute;
    width: 5rem;
    top: 1rem;
}

li {
    font-size: 25px;
    margin-bottom: 40px;;
}

.linhaInvisivel {
    height: 8.5rem;
}