@import "../main.scss";

.meta {
  border-radius: 5px;
  max-width: 30rem;
  max-height: 20rem;
  font-size: 1.8rem;
  margin: 0 2rem;
  transition: 0.15s;
}

.meta:hover {
  transform: scale(1.05);
}

.textoMeta {
  border: solid 1px;
  border-radius: 3px;
  padding: 15px 35px;
  font-size: 1.4rem;
  margin: 0.5rem;
}

.porcentagem {
  width: 20rem;
  border: solid 1px;
  border-radius: 10px;
}

.barra {
  box-shadow: 0 0 0 1px #000 inset;
  border-radius: 10px;
  font-size: 1.4rem;
}

.btn-operacao {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.valorOperacao {
  margin: 1rem;
  height: 3rem;
  text-align: center;
}

.nomeMeta {
  text-align: center;
}

.botaoGordo {
  height: 7rem;
  width: 7rem;
}

.botaoGordo:hover {
  transform: scale(1.05);
}

#board {
  align-items: center;
}

#botaoVoltar {
    position: absolute;
    width: 5rem;
    top: 1rem;
}


.swal2-confirm {
  background-color: #b4f166;
  color: black;
  border: solid 1px;
}

.swal2-confirm:focus-visible {
  box-shadow: none;
}

body {
  background-color: #444942;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: 20px;
}

.botaoGordo {
  border-radius: 15px;
  width: 18rem;
  height: 18rem;
  align-content: center;
  font-size: 1.8rem;
  margin: 0 2rem;
  transition: 0.15s;
}

.btn-green {
  background-color: #b4f166;
}

.green {
  background-color: #b4f166;
}

.btn-green:hover, .swal2-confirm:hover {
  background-color: #a2d166;
}

.btn, .btn:hover {
  border-color: black;
}

.form-control {
  border-color: black;
}

.form-control:focus {
  border-color: black; /* muda a cor da borda */
  box-shadow: none; /* adiciona uma sombra suave */
  background-color: #fff; /* mantém o fundo branco */
  outline: none; /* remove o contorno padrão do navegador */
  transition: all 0.3s ease; /* anima a transição da borda e sombra */
}

.bg-success {
  background-color: #b4f166 !important;
}

.yellow {
  background-color: #f1da66 !important;
}

/* Margin-top */
.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-11 {
  margin-top: 11rem;
}

.mt-12 {
  margin-top: 12rem;
}

.mt-13 {
  margin-top: 13rem;
}

.mt-14 {
  margin-top: 14rem;
}

.mt-15 {
  margin-top: 15rem;
}

.mt-16 {
  margin-top: 16rem;
}

.mt-17 {
  margin-top: 17rem;
}

.mt-18 {
  margin-top: 18rem;
}

.mt-19 {
  margin-top: 19rem;
}

.mt-20 {
  margin-top: 20rem;
}

/* Padding-top */
.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}










.btn:hover {
  transform: scale(1.05);
}

#board {
  text-align: center;
  margin-top: 15rem;
}

//------extrato------

.orcamentoMensal {
  border-radius: 5px;
  max-height: 20rem;
  font-size: 1.8rem;
  margin: 0 2rem;
  transition: 0.15s;
  min-width: 90rem;
}

.orcamentoMensal:hover {
  transform: scale(1.009);
}

.orcamentoSecundario {
  border-radius: 5px;
  max-width: 30rem;
  max-height: 20rem;
  font-size: 1.8rem;
  margin: 0 2rem;
  transition: 0.15s;
}

.orcamentoSecundario:hover {
  transform: scale(1.05);
}


.orcamentoSecundario:hover {
  transform: scale(1.009);
}

.textoMeta {
  border: solid 1px;
  border-radius: 3px;
  padding: 15px 35px;
  font-size: 1.4rem;
  margin: 0.5rem;
}

.porcentagemOrcamentoPrincipal {
  width: 80rem;
  border: solid 1px;
  border-radius: 10px;
}

.porcentagemOrcamentoSecundario {
  width: 15rem;
  border: solid 1px;
  border-radius: 10px;
}

.barraOrcamentoPrincipal {
  box-shadow: 0 0 0 1px #000 inset;
  border-radius: 10px;
  font-size: 1.4rem;
}

.barraOrcamentoSecundario {
  box-shadow: 0 0 0 1px #000 inset;
  border-radius: 10px;
  font-size: 1.4rem;
}

.btn-operacao {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.valorOperacao {
  margin: 1rem;
  height: 3rem;
  text-align: center;
}

.nomeMeta {
  text-align: center;
}

.botaoGordo {
  height: 7rem;
  width: 7rem;
}

.botaoGordo:hover {
  transform: scale(1.05);
}

#board {
  align-items: center;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

// orcamento
.orcamentoMensal {
  border-radius: 5px;
  max-height: 20rem;
  font-size: 1.8rem;
  margin: 0 2rem;
  transition: 0.15s;
  min-width: 90rem;
}

.orcamentoMensal:hover {
  transform: scale(1.009);
}

.orcamentoSecundario {
  border-radius: 5px;
  max-width: 30rem;
  max-height: 20rem;
  font-size: 1.8rem;
  margin: 0 2rem;
  transition: 0.15s;
}

.orcamentoSecundario:hover {
  transform: scale(1.05);
}


.orcamentoSecundario:hover {
  transform: scale(1.009);
}

.textoMeta {
  border: solid 1px;
  border-radius: 3px;
  padding: 15px 35px;
  font-size: 1.4rem;
  margin: 0.5rem;
}

.porcentagemOrcamentoPrincipal {
  width: 80rem;
  border: solid 1px;
  border-radius: 10px;
}

.porcentagemOrcamentoSecundario {
  width: 15rem;
  border: solid 1px;
  border-radius: 10px;
}

.barraOrcamentoPrincipal {
  box-shadow: 0 0 0 1px #000 inset;
  border-radius: 10px;
  font-size: 1.4rem;
}

.barraOrcamentoSecundario {
  box-shadow: 0 0 0 1px #000 inset;
  border-radius: 10px;
  font-size: 1.4rem;
}

.btn-operacao {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.valorOperacao {
  margin: 1rem;
  height: 3rem;
  text-align: center;
}

.nomeMeta {
  text-align: center;
}

.botaoGordo {
  height: 7rem;
  width: 7rem;
}

.botaoGordo:hover {
  transform: scale(1.05);
}

#board {
  align-items: center;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
