<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerPorquinho('dashboard')}"></head>
<th:block th:fragment="misc">
    <style>

        .btn:hover {
            transform: scale(1.05);
        }

        #board {
            text-align: center;
            margin-top: 15rem;
        }

    </style>
</th:block>
<body>
<nav th:replace="~{fragments/navbar :: nomeUsuario(${session.nomeUsuario})}"></nav>
    <div id="board" class="container-fluid">
        <a th:href="@{/porquinho}" class="btn btn-green botaoGordo" >Porquinho</a>
        <a th:href="@{/orcamento}" class="btn btn-green botaoGordo">Orçamento</a>
        <a class="btn btn-green botaoGordo">Extrato</a>
    </div>

<script th:inline="javascript">

    let alerta = /*[[${alerta}]]*/ false;

    let tituloAlerta = /*[[${tituloAlerta}]]*/ "deu ruim!!";
    let mensagemAlerta = /*[[${mensagemAlerta}]]*/ "deu ruim";
    let iconeAlerta = /*[[${iconeAlerta}]]*/ "warning";

    if (alerta) {
        Swal.fire({
            title: tituloAlerta,
            text: mensagemAlerta,
            icon: iconeAlerta,
            confirmButtonText: 'Ok'
        })
    }

</script>
</body>
</html>