<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/dashboard :: headerPorquinho('cadastro')}">
    <th:block th:fragment="misc">
        <style>
            #botaoVoltar {
                position: absolute;
                width: 5rem;
                top: 1rem;
            }

            li {
                font-size: 25px;
                margin-bottom: 40px;;
            }

            .linhaInvisivel {
                height: 8.5rem;
            }
        </style>
    </th:block>
</head>
<body>

<div class="container-fluid">
    <a th:href="@{/static}" id="botaoVoltar" class="btn btn-green form-control">Voltar</a>

    <form th:action="@{/persistir}" th:object="${usuario}" method="post" onsubmit="return validaForm(this)">
        <div class="row vh-100">

            <div class="col mt-8">

                <div class="row">
                    <div class="col">
                        <label class="text-white">Nome</label>
                        <div class="form-floating mb-5">
                            <input th:field="*{nome}" type="text" class="form-control" placeholder="" required>
                            <label>Nome</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="text-white">Login</label>
                        <div class="form-floating mb-5">
                            <input th:field="*{login}" type="text" class="form-control" placeholder="" required>
                            <label>Insira seu login</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="text-white">Senha</label>
                        <div class="form-floating mb-5">
                            <input th:field="*{senha}" type="password" class="form-control" placeholder="" required>
                            <label>Insira sua senha</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col mt-8">
                <div class="linhaInvisivel row ">
                </div>

                <div class="row">
                    <div class="col">
                        <label class="text-white">Nasc.</label>
                        <div class="form-floating ">
                            <input th:field="*{dt_nascimento}" type="date" class="form-control" placeholder="" required>
                            <label>Nasc</label>
                        </div>
                    </div>
                </div>


            </div>

            <div id="painelLateral" class="col bg-success flex-column d-flex justify-content-center align-items-center">
                <ul>
                    <li>O login deve ter no minimo 4 digitos</li>
                    <li>A senha deve ter conter caracteres especiais e no minimo 5 digitos</li>
                    <li>Escolha uma senha que você não irá esquecer facilmente</li>
                </ul>
                <br>
                <button class="btn btn-light btn-lg">Gravar</button>
            </div>


        </div>

    </form>
</div>

<script>
debugger


    function validaForm(form) {
        let nome = form["nome"].value
        let login = form["login"].value
        let dt_nascimento = form["dt_nascimento"].value
        let senha = form["senha"].value


        if (estaVazioOuNulo(nome)) {
            Swal.fire({
                title: 'Atenção!',
                text: "Deve escrever o nome",
                icon: 'error',
                confirmButtonText: 'Ok'
            })

            return false;
        }
        if (estaVazioOuNulo(login)) {
            Swal.fire({
                title: 'Atenção!',
                text: "Deve escrever o login",
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            return false;
        }if (estaVazioOuNulo(dt_nascimento)) {
            Swal.fire({
                title: 'Atenção!',
                text: "Deve escrever a data de nascimento",
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            return false;
        }
        if (estaVazioOuNulo(senha)) {
            Swal.fire({
                title: 'Atenção!',
                text: "Deve escrever a senha",
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            return false;
        }

        if (nome.length <= 3) {
            Swal.fire({
                title: 'Atenção!',
                text: "Nome deve ter pelo menos quatro caracteres",
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            return false;
        }
        if (senha.length <= 4) {
            Swal.fire({
                title: 'Atenção!',
                text: "Senha deve ter pelo menos 5 caracteres",
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            return false;
        }



    }

    function estaVazioOuNulo(string) {
        if (string === "" || string == null) {
            return true
        }
    }
</script>
</body>
</html>
