<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">

<head>
    <title layout:fragment="title">Login</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col bg-success rounded-3 p-5 pt-4 ">

                    <form th:object="${usuario}" method="post" th:action="@{/login}">
                        <h2 class="mb-3">Sistema de orçamento pessoal</h2>
                        <label>Login</label>
                        <div class="form-floating mb-3">
                            <input th:field="*{login}" type="text" class="form-control" placeholder="" required>
                            <label>Login</label>
                        </div>

                        <label>Senha</label>
                        <div class="form-floating mb-3">
                            <input th:field="*{senha}" type="password" class="form-control" placeholder="" required>
                            <label>Senha</label>
                        </div>
                        <button type="submit" class="btn btn-light form-control">Entrar</button>
                    </form>
                    <a th:href="@{/cadastro}" class="link-body-emphasis  link-offset-1">Crie uma nova conta</a>

                </div>

                <div class="col">
                    <img src="/images/porquinhoMiniaturaVerde.png" alt="alt"/>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        let alerta = /*[[${alerta}]]*/ false;

        let tituloAlerta = /*[[${tituloAlerta}]]*/ "deu ruim!!";
        let mensagemAlerta = /*[[${mensagemAlerta}]]*/ "deu ruim";
        let iconeAlerta = /*[[${iconeAlerta}]]*/ "warning";

        if (alerta) {
            Swal.fire({
                title: tituloAlerta,
                text: mensagemAlerta,
                icon: iconeAlerta,
                confirmButtonText: 'Ok'
            })
        }

    </script>

<!--    <th:block layout:fragment="scripts">-->
<!--        <th:block th:if="${viteServer != null}">-->
<!--            <script type="module" th:src="${viteServer + '/src/ts/pages/admin/cadastro/cadastro.ts'}"></script>-->
<!--        </th:block>-->
<!--        <th:block th:if="${viteServer == null}">-->
<!--            <script type="module" th:src="@{${@vite.asset('src/ts/pages/admin/cadastro/cadastro.ts')}}"></script>-->
<!--        </th:block>-->
<!--    </th:block>-->

</body>
</html>
